/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff;
}
#dropdown1 {margin-top: 80px ;}

.title{
      margin-left: -70px ;
      font-size: 30px ;
      font: bold ;
      }

#nav-mobile {margin-top: 80px }

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

#loader {
  top: 12px;
  right: 10px;
}

header.dashboard, main.dashboard {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header.dashboard, main.dashboard {
      padding-left: 0;
    }
  }

nav.top-nav {
  height: 80px;
  box-shadow: none;
}

nav.top-nav a.page-title, ul.header-list {
  line-height: 80px;
  font-size: 35px;
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 35px;
  width: 35px;
  left: 5.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2;
}

a.button-collapse.top-nav.full {
  line-height: 80px;
}

@media only screen and (max-width : 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}

@media only screen and (min-width : 993px) {
  .container {
    width: 85%;
  }
}

.collapsible-header {
  height: 5rem;
}

.list-name {
  font-size: 20px;
}

.list-name:hover {
  text-decoration: underline;
}

.list-property {
  padding-right: 5px;
}

@media only screen and (max-width : 600px) {
  a.button-collapse.top-nav {
    left: 0;
    }
  .list-property {
    font-size: 10px;
    display: block;
  }
  .collapsible-header {
    height: 6rem;
  }
}
