{% extends "mapping/admin_template.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block main %}
<ul class="collapsible popout" data-collapsible="accordion">
  {% for d in departments %}
  <li>
    <div class="collapsible-header">
      <p>
      <span class="list-name red-text">{{ d.name }}</span>
        <span class="right">
          <a class="red-text" href="/admin/department/{{ d.id }}/edit"><i class="mdi-content-create tiny"></i></a>
        </span>
        <br>
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block action-btn %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="/admin/department/new" class="btn-floating btn-large waves-effect waves-light red "><i class="mdi-content-add"></i></a>
</div>
{% endblock %}