{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %} - NSMM</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <header>
      {% for department in departments %}
      <ul id="dropdown{{department.id}}" class="dropdown-content">
        {% for task in tasks %}
        {% if task.department.id == department.id %}
        <li class="bold"><a href="/department/{{department.id}}/task/{{task.id}}" class="waves-effect waves-teal">{{task.name}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
      <div class="navbar-fixed">
      <nav class="black-text top-nav red ">
        <div class="container">
          <div class="nav-wrapper">
            <a class="head">{{ title }}</a>
            <ul class="header-list right">
              <li><a href="/">HOME</a></li>
              <li><a href="/logout">LOGOUT</a></li>
            </ul>
          </div>
        </div>
      </nav>
      </div>
    </header>
    <main class="dashboard">
      <div class="container">
        <div class="row">
          {% for department in departments %}
          <div class="col l4">
            <a class="dropdown-button waves-effect waves-light btn-large" href="#" data-activates="dropdown{{department.id}}" ><i id="down" class="mdi-navigation-arrow-drop-down right"></i>{{department.name}}</a>
          </div>
          {% endfor %}
        </div>
        </div>
        {% block action-btn %}
        {% endblock %}
    </main>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
</body>
</html>
