{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %} - SAYN</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li class="bold"><a href="/od/newframework" class="waves-effect waves-teal">NS in newframework</a></li>
        <li class="bold"><a href="/od/nsd" class="waves-effect waves-teal">NS Development</a></li>
        <li class="bold"><a href="/od/volunteer" class="waves-effect waves-teal">Volunteer</a></li>
        <li class="bold"><a href="/od/youth" class="waves-effect waves-teal">Youth</a></li>
      </ul>

      <nav class="black-text top-nav red fixed ">
        <div class="container">
          <div class="nav-wrapper">
            <a class="head">{{ title }}</a>
            <ul class="header-list right">
              <li><a href="/">HOME</a></li>
              <li><a href="/logout">LOGOUT</a></li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <main class="dashboard">
      <div class="container">
        <div class="row">
          <div class="col l3">
            <a class="dropdown-button waves-effect waves-light button " href="#" data-activates="dropdown1" ><i id="down" class="mdi-navigation-arrow-drop-down right"></i>Organization Development</a>
          </div>
          <div class="col l3">
            <a class="dropdown-button waves-effect waves-light button " href="#" data-activates="dropdown1" ><i id="down" class="mdi-navigation-arrow-drop-down right"></i>Disaster Management</a>
          </div>
          <div class="col l3">
            <a class="dropdown-button waves-effect waves-light button " href="#" data-activates="dropdown1" ><i id="down" class="mdi-navigation-arrow-drop-down right"></i>Health</a>
          </div>
        </div>
          {% block action-btn %}
          {% endblock %}
        </div>
    </main>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
</body>
</html>