{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %} - NSMM</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li class="bold"><a href="/newdepartment" class="waves-effect waves-teal">DEPARTMENT</a></li>
        <li class="bold"><a href="/newtask" class="waves-effect waves-teal">TASK</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">SUBTASK</a></li>
      </ul>
      <nav class="top-nav red ">
        <div class="container">
          <div class="nav-wrapper">
            <a class="page-title">{{ title }}</a>
            <ul class="header-list right">
                <li><a href="#">FILTER</a></li>
                <li><a href="/department">INSERT DATA</a></li>
                <li><a class="dropdown-button" href="#" data-activates="dropdown1">ADD NEW<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="dashboard">
      <div class="container">
        <div class="row">
            <div class="col s12 m10">
              {% block main %}{% endblock %}
            </div>
          </div>
          {% block action-btn %}
          {% endblock %}
        </div>
    </main>

    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
</body>
</html>