{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>SAYN Login</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="container">
    <div class="section">

      <!--   Login Form   -->
      <div class="row">
        <div class="col s12 offset-m3 m7">
          <div class="card">
            <div class="card-content">
              <form id="login">
                <div class="input-field">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                <div class="input-field">
                  <input id="email" name="email" type="email" required>
                  <label for="email">Email</label>
                </div>
                <div class="input-field">
                  <input id="password" name="password" type="password" required>
                  <label for="password">Password</label>
                </div>
                <div class="center-align input-field">
                  <div id="loader" class="preloader-wrapper small inactive">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                        <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                        </div><div class="circle-clipper right">
                        <div class="circle"></div>
                        </div>
                    </div>
                  </div>
                  <input type="submit" value="Login" class="red btn">
                  <a href="/forgot">Forgot Password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--  Scripts-->
  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
