{% extends "mapping/departments.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %} - NSMM</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
{% block action-btn %}
    <header>
      <ul id="nav-mobile" class="side-nav fixed">
        {% for subtask in subtasks %}
        <li class="bold"><a href="" class="waves-effect waves-teal">{{subtask.name}}</a></li>
        {% endfor %}
      </ul>
    </header>


          <div class="row">
          <div class="col s12">
            <div class="box card">
              <div class="card-content">
                <h4 class="center">PLEASE ENTER DETAILS</h4>
                <form method="POST" action="" class="col s12">
                  <div class="row">
                  {% csrf_token %}
                    <div class="input-field col s12">
                      {{ form.description }}
                      <label for="{{ form.description.id_for_label }}">{{form.description.label}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="drop input-field col s12 m6">
                      {{ form.status}}
                      <label for="{{ form.status.id_for_label }}">{{form.status.label}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 ">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="mdi-content-send right"></i>
                    </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          </div>


{% endblock %}


    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
</body>
</html>
