{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %} - SAYN</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
   
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li class="bold"><a href="/od/newframework" class="waves-effect waves-teal">NS In Newframework</a></li>
        <li class="bold"><a href="/od/nsd" class="waves-effect waves-teal">NS Development</a></li>
        <li class="bold"><a href="/od/youth" class="waves-effect waves-teal">Youth</a></li>
        <li class="bold"><a href="/od/volunteer" class="waves-effect waves-teal">Volunteer</a></li>
      </ul>
      <nav class="top-nav red fixed">
        <div class="container">
          <div class="nav-wrapper">
            <a class="title">{{ title }}</a>
            <ul class="header-list right">
                <li><a href="/">HOME</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
          </div>
        </div>
      </nav>
   
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold"><a href="#" class="waves-effect waves-teal">Volunteering policy and year</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Volunteer strategy and year</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">volunteering guidelines / Mgt system</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">volunteer database /type</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal"># of volunteers</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal"># of volunteers w insurance 
(in year 2014)</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">volunteer recognition system?</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">focal person for volunteering</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal"># of members</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal"># of youth volunteers</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Name, Position, Email, Skype of responsible person for volunteering</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Total Number of staff supporting volunteering in NS</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">No. of RDRT from your NS</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">No. of NDRT/NERT members</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">No. of SDRT/DDRT/ERT</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Integration of volunteer management in Contigency Plan?</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal"></a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal"></a></li>

      </ul>  
    </header>
    
    <main class="dashboard">
      <div class="container">
        <div class="row">
          <div class="col l3">
            <a class="dropdown-button waves-effect waves-light button " href="#" data-activates="dropdown1" ><i id="down" class="mdi-navigation-arrow-drop-down right"></i>Organization Development</a>
          </div>
          <div class="col l3">
            <a class="dropdown-button waves-effect waves-light button " href="#" data-activates="dropdown1" ><i id="down" class="mdi-navigation-arrow-drop-down right"></i>Disaster Management</a>
          </div>
          <div class="col l3">
            <a class="dropdown-button waves-effect waves-light button " href="#" data-activates="dropdown1" ><i id="down" class="mdi-navigation-arrow-drop-down right"></i>Health</a>
          </div>
        </div>
          {% block action-btn %}
          {% endblock %}
        </div>
    </main>

    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
</body>
</html>